mat-card {
    padding-top: 3rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    height: 100vh;

    h2 {
        font-size: 2.5rem;
    }

    form {
        display: flex;
        flex-direction: column;
        width: 50vw;
        max-width: 600px;
    }
}